.lifetracker_screen_container {
    display: grid;
	align-content: center;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 100%;
	width: 100vw;
}
#lifetracker_screen_bottom_row{
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(1, 2fr);
	height: 49vh;
}
#lifetracker_screen_top_row{
	grid-template-columns: repeat(2, 2fr);
	grid-template-rows: repeat(1, 2fr);
}
#player_box_33_override{
	width: 33vh;
}
#player_box_50_override{
	width: 50vh;
}
#player_box_25_override{
	width: 25vh;
}

.player_box {
  position: relative;
  display: flex;
  height: 49vh;
  width: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: solid; */
}
.cross {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
}

.horizontal-line,
.vertical-line {
  position: absolute;
  background-color: #000; /* Color of the lines */
}

.horizontal-line {
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px; /* Adjust the thickness of the line */
}

.vertical-line {
  top: 0;
  left: 50%;
  width: 1px; /* Adjust the thickness of the line */
  height: 100%;
}
