<!--TopBar-->
<!-- <nav class="navBar">
	<button mat-raised-button
	        routerLink="/home"
	        routerLinkActive="active"
	        ariaCurrentWhenActive="page">
		<a>Home</a>
	</button>
	<button mat-raised-button
	        routerLink="/devHelp"
	        routerLinkActive="active"
	        ariaCurrentWhenActive="page">
		<a>Dev Help</a>
	</button>
	<button mat-raised-button
	        routerLink="/lifeTracker"
	        routerLinkActive="active"
	        ariaCurrentWhenActive="page">
		<a>Life Tracker</a>
	</button>
</nav> -->
<router-outlet></router-outlet>
